#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use CDROM installation media
cdrom
# Network information
network  --bootproto=dhcp --device=eth0
#network  --bootproto=dhcp --device=wlan0
# Root password
rootpw password
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --disable
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --disabled
# Installation logging level
logging --level=info

# System timezone
timezone --isUtc America/Los_Angeles
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel 
# Disk partitioning information
part /boot --asprimary --fstype="ext3" --size=500
part swap --asprimary --fstype="swap" --size=2048
part / --asprimary --fstype="ext4" --grow --size=1

%packages
@base
@basic-desktop
@compat-libraries
@development
@fonts
@general-desktop
@graphical-admin-tools
@hardware-monitoring
@input-methods
@internet-browser
@legacy-x
@network-file-system-client
@performance
@perl-runtime
@x11
system-config-kickstart

%end

%post
useradd -p `openssl passwd -crypt password` user
reboot
%end
