#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Firewall configuration
firewall --disabled
# Use CDROM installation media
cdrom
# Network information
#network  --bootproto=dhcp --device=eth0
#network  --bootproto=dhcp --device=wlan0
# Root password
rootpw password
# System authorization information
auth  --useshadow  --passalgo=md5
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --disable
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --disabled
# Installation logging level
logging --level=info

# System timezone
timezone --isUtc America/Los_Angeles
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel 
# Disk partitioning information
part swap --asprimary --fstype="swap" --size=2048
part / --asprimary --fstype="ext4" --grow --size=1

%packages
@admin-tools
@base
@books
@core
@development-libs
@development-tools
@dial-up
@eclipse
@java
@editors
@fonts
@graphical-internet
@hardware-support
@graphics
@input-methods
@kde-desktop
@kde-software-development
@legacy-fonts
@legacy-network-server
@office
@base-x
@server-cfg
@sound-and-video
@system-tools
@text-internet
@x-software-development
%end

%post
yum --disablerepo=updates install tftp tftp-server kernel-devel system-config-kickstart qt3-devel qt3-designer PyKDE-devel PyQt-devel
sed -i 's/id:3:initdefault:/id:5:initdefault:/g' /etc/inittab
chkconfig iptables off
chkconfig ip6tables off
service iptables off
service ip6tables off
useradd -p `openssl passwd -crypt password` user
eject
%end
